<section id="bio">
  <h1>Bibliografia</h1>
  <div class="p-2 flex-fill">
    <p>
      Ramón Luis Ayala Rodríguez (San Juan, 3 de febrero de 1977), conocido
      artísticamente como Daddy Yankee, es un rapero, cantante, compositor,
      productor discográfico, locutor de radio y empresario puertorriqueño.Es
      considerado como el «rey del reguetón», tanto por los críticos como por
      los fanáticos de la música. Daddy Yankee es el artista que acuñó la
      palabra reguetón en 1991 para describir el nuevo género musical que estaba
      surgiendo en Puerto Rico y que sintetizaba ritmos de hip hop
      estadounidense, música caribeña hispana y reggae jamaiquino con rap y
      canto en español. A menudo es citado como una influencia por otros
      artistas urbanos latinos.
    </p>
    <p>
      Ayala nació en Río Piedras y se crio en el barrio Villa Kennedy Housing
      Projects. Aspiraba a ser un jugador de béisbol profesional y probó para
      los Marineros de Seattle de las Grandes Ligas de Béisbol. Antes de que
      pudiera firmar oficialmente, fue alcanzado por una bala perdida de un
      rifle AK-47 mientras tomaba un descanso de una sesión de grabación en el
      estudio con el artista de reguetón DJ Playero. Ayala pasó
      aproximadamente un año y medio recuperándose de la herida; la bala nunca
      se quitó de la cadera, y atribuye al incidente del tiroteo que le permitió
      concentrarse por completo en una carrera musical.
    </p>
  </div>
</section>
