<section id="canciones">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <h5>Gasolina</h5>
            <img
              alt="Gasolina Daddy Yankee"
              src="https://upload.wikimedia.org/wikipedia/en/1/16/Daddy_Yankee_Gasolina_cover_art.png"
              height="200px"
            />
            <div class="card-body">
              <p>
                Con más de 390 millones de reproducciones en Spotify, «Gasolina»
                es una canción de reggaeton escrita por Daddy Yankee y Eddie
                Dee. Fue lanzada bajo su disco Barrio fino en el año 2004,
                grabada en 2002 y no se publicó hasta 2004, además de ser
                lanzada como sencillo principal del álbum de estudio del
                cantante en 2005.
              </p>
              <div class="text-center">
                <div class="btn-group">
                  <button (click)="sonar(1)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-play"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button (click)="pausar(1)"type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pause"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button (click)="recargar(1)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-counterclockwise"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
                      ></path>
                      <path
                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <h5>Despacito</h5>
            <img
              alt="Despacito - Daddy Yankee"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Luis_Fonsi_Feat._Daddy_Yankee_-_Despacito_%28Official_Single_Cover%29.png/220px-Luis_Fonsi_Feat._Daddy_Yankee_-_Despacito_%28Official_Single_Cover%29.png"
              height="200px"
            />
            <div class="card-body">
              <p>
                Despacito, en colaboración con Luis Fonsi, revolucionó el verano
                de 2017, aunque fue lanzada en enero de ese mismo año. Consiguió
                ser número 1 en más de 80 países y su videoclip cuenta con 7790
                millones de reproducciones.
                <br />
                Con más de siete billones en su contador, Despacito es una de
                las canciones más escuchadas de la historia de la música.
              </p>
              <div class="text-center">
                <div class="btn-group">
                  <button (click)="sonar(2)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-play"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button (click)="pausar(2)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pause"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button (click)="recargar(2)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-counterclockwise"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
                      ></path>
                      <path
                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <h5>Con Calma</h5>
            <img
              alt="Con Calma - Daddy Yankee"
              src="https://upload.wikimedia.org/wikipedia/en/2/27/Daddy_Yankee_-_Con_Calma.png"
              height="200px"
            />
            <div class="card-body">
              <p>
                El inicio del 2019 estuvo marcado por Con calma, en colaboración
                el canadiense Snow. La canción es un remake de un tema del
                propio Snow llamado The Informer de 1993, el cual también fue un
                éxito en su momento. Con Calma cuenta con 2459 millones de
                reproducciones en YouTube, siendo la segunda canción del
                puertorriqueño más escuchada en la plataforma.
              </p>
              <div class="text-center">
                <div class="btn-group">
                  <button (click)="sonar(3)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-play"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button (click)="pausar(3)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pause"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                  <button (click)="recargar(3)" type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-counterclockwise"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
                      ></path>
                      <path
                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
                      ></path>
                    </svg>
                    <span class="visually-hidden">Button</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
